{% extends "index.html" %}

{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="w-75" style="margin: 0 auto">
        <h3 class="text-center fw-bold">LISTA DE PRODUCTOS</h3>
        <a href="/agregar"><button class="btn btn-primary">Agregar</button></a>
        <table class="table table-bordered mt-2">
            <thead class="table-info">
                <tr class="text-center">
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td class="text-center">{{producto['codigo']}}</td>
                    <td>{{producto['nombre']}}</td>
                    <td class="text-end">{{producto['precio']}}</td>
                    <td>{{producto['categoria']}}</td>
                    <td class="text-center">
                        <img src="../static/img/{{producto['foto']}}" alt="" width="40" height="40">
                    </td>
                    <td class="text-center" style="font-size: x-large;">
                        <a href="/consultar/{{producto['_id']}}"><i class="fa fa-refresh text-warning"></i></a>
                        <a href="/eliminar/{{producto['_id']}}">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>{{mensaje}}</div>
    </div>
</div>
{% endblock %}

{% block piepagina %}
    {% include "piepagina.html" %}
{% endblock %}